POSTGRES_USER=mapvideo
POSTGRES_PASSWORD=change-me
POSTGRES_DB=mapvideo
POSTGRES_GIS_DB=gis

ADMIN_PASSWORD=change-me
# ADMIN_PASSWORD_ROTATE_ON_BOOT=false

COOKIE_SECURE=true

OSM_PBF_FILE=russia-260419.osm.pbf
# OSM_PBF_FILE=planet-latest.osm.pbf

PHOTON_URL=https://photon.komoot.io/api
OSRM_DATA_PATH=/data/region.osrm

NODE_ENV=production
